@{
    ViewBag.Title = "Exercicio 5";
}
<style>
    #vermelho {
        background-color: red;
   
    }
    #vermelho:active{
        background-color: green;
    }
    #verde {
        background-color: green;
    }
    #verde:active {
        background-color: red;
    }

</style>
<h2>@ViewBag.Message</h2>
<h3>Alternar cores dos botões</h3>

<input type="button" id="verde" value="Verde" />
<input type="button" id="vermelho" value="Vermelho" />